<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ImportHandler" name="ImportHandler" schema="schema/ImportHandler.exsd"/>
   <extension-point id="Filter" name="Filter" schema="schema/Filter.exsd"/>
   <extension-point id="DataProvider" name="DataProvider" schema="schema/DataProvider.exsd"/>

</plugin>
