<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.jester.hibernate.helper.Configuration">
      <Configuration
            DatabaseManagerClass="ch.jester.db.hsqldb.HSQLDatabaseManager"
            JDBCDriverClass="org.hsqldb.jdbcDriver"
            SQLDialectClass="org.hibernate.dialect.HSQLDialect"
            Subprotocol="hsqldb">
      </Configuration>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=menu.File">
         <menu
               label="Dev">
            <command
                  commandId="ch.jester.db.hsqldb.showtool"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.jester.db.hsqldb.tools.StartTool"
            id="ch.jester.db.hsqldb.showtool"
            name="DB Viewer">
      </command>
   </extension>

</plugin>
