<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="ch.jester.ui.player.editor.view.PlayersView"
            id="ch.jester.ui.view.players"
            name="Players">
      </view>
      <view
            allowMultiple="false"
            class="ch.jester.ui.tournament.editor.view.TournamentView"
            id="ch.jester.ui.view.tournamentview"
            name="Tournaments"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ch.jester.perspective.admin">
         <view
               closeable="false"
               id="ch.jester.ui.view.players"
               minimized="false"
               moveable="true"
               ratio="0.5f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="ch.jester.ui.view.tournamentview"
               minimized="false"
               moveable="true"
               ratio="0.5f"
               relationship="stack"
               relative="ch.jester.ui.view.players"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:ch.jester.ui.view.players">
         <command
               commandId="ch.jester.ui.addplayer"
               icon="icons/plus.gif"
               style="push">
         </command>
         <separator
               name="ch.jester.ui.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete Player"
               style="push">
         </command>
         <separator
               name="ch.jester.ui.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.navigate.back"
               icon="icons/prev.gif"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.navigate.next"
               icon="icons/next.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:ch.jester.ui.view.tournamentview">
         <command
               commandId="ch.jester.ui.tournament.newTournament"
               icon="icons/plus.gif"
               style="push">
         </command>
         <separator
               name="ch.jester.ui.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete Player"
               style="push">
         </command>
         <separator
               name="ch.jester.ui.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.navigate.back"
               icon="icons/prev.gif"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.navigate.next"
               icon="icons/next.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="ch.jester.ui.save"
               label="Save">
            <command
                  commandId="org.eclipse.ui.file.save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="ch.jester.ui.edittoolbar"
               label="Edit toolbar">
            <command
                  commandId="ch.jester.ui.add.pulldown"
                  icon="icons/plus.gif"
                  style="pulldown">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="ch.jester.ui.unredo"
               label="Undo/Redo">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  label="Undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  label="Redo"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.jester.ui.view.players">
         <command
               commandId="org.eclipse.ui.navigate.back"
               icon="icons/prev.gif"
               style="push">
         </command>
         <control
               class="ch.jester.common.ui.filter.GotoPageField"
               id="ch.jester.gotopagefield">
         </control>
         <command
               commandId="org.eclipse.ui.navigate.next"
               icon="icons/next.gif"
               style="push">
         </command>
         <control
               class="ch.jester.common.ui.filter.FilterControlContribution"
               id="ch.jester.ui.view.players.filter">
         </control>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:ch.jester.ui.add.pulldown">
         <command
               commandId="ch.jester.ui.addplayer"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.jester.ui.handlers.AddPlayerHandler"
            description="Adds a new Player"
            id="ch.jester.ui.addplayer"
            name="Player">
      </command>
      <command
            id="org.eclipse.ui.edit.delete"
            name="Delete Player">
      </command>
      <command
            defaultHandler="ch.jester.common.ui.handlers.PullDownHandler"
            id="ch.jester.ui.add.pulldown"
            name="ch.jester.ui.add.pulldown">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ch.jester.ui.player.editor.PlayerEditor"
            default="false"
            id="ch.jester.ui.player.editor.PlayerEditor"
            name="PlayerEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="oneElementSelected">
         <with
               variable="selection">
            <count
                  value="+">
            </count>
         </with>
      </definition>
      <definition
            id="isSelectionCloneable">
         <with
               variable="selection">
            <count
                  value="+">
            </count>
            <iterate>
               <instanceof
                     value="java.lang.Cloneable">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="ch.jester.ui.pagecontroller.next">
         <with
               variable="activePart">
            <adapt
                  type="ch.jester.common.ui.databinding.PageController">
               <test
                     args="next"
                     property="ch.jester.properties.controlled"
                     value="true">
               </test>
            </adapt>
         </with>
      </definition>
      <definition
            id="ch.jester.ui.pagecontroller.back">
         <with
               variable="activePart">
            <adapt
                  type="ch.jester.common.ui.databinding.PageController">
               <test
                     args="back"
                     property="ch.jester.properties.controlled"
                     value="true">
               </test>
            </adapt>
         </with>
      </definition>
      <definition
            id="ch.jester.ui.hasPasteContentAndIsTargetValid">
         <test
               property="ch.jester.properties.clipboardFilled">
         </test>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ch.jester.common.ui.handlers.ClipboardPropertyTester"
            id="ch.jester.ui.clipboard"
            namespace="ch.jester.properties"
            properties="clipboardFilled"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="ch.jester.common.ui.databinding.PageControllerPropertyTester"
            id="ch.jester.ui.pagecontroller"
            namespace="ch.jester.properties"
            properties="controlled"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.jester.common.ui.handlers.DaoDeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <enabledWhen>
            <reference
                  definitionId="oneElementSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="ch.jester.common.ui.handlers.CloneCopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <reference
                  definitionId="isSelectionCloneable">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="ch.jester.common.ui.handlers.DaoPasteHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <reference
                  definitionId="ch.jester.ui.hasPasteContentAndIsTargetValid">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="ch.jester.common.ui.handlers.PageHandler"
            commandId="org.eclipse.ui.navigate.next">
         <activeWhen>
            <reference
                  definitionId="ch.jester.ui.pagecontroller.next">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="ch.jester.common.ui.handlers.PageHandler"
            commandId="org.eclipse.ui.navigate.back">
         <activeWhen>
            <reference
                  definitionId="ch.jester.ui.pagecontroller.back">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="ch.jester.commonservices.api.Filter">
      <Filter
            Id="ch.jester.ui.view.players.filter"
            TargetViewId="ch.jester.ui.view.players"
            class="ch.jester.ui.filter.PlayerFilter">
      </Filter>
   </extension>
</plugin>
