<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="ch.jester.ui.player.editor.PlayersView"
            id="ch.jester.ui.view.players"
            name="Players">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ch.jester.perspective.admin">
         <view
               closeable="false"
               id="ch.jester.ui.view.players"
               minimized="false"
               moveable="false"
               ratio="0.3f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:ch.jester.ui.view.players">
         <command
               commandId="ch.jester.ui.addplayer"
               icon="icons/plus.png"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete Player"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="ch.jester.ui.save"
               label="Save">
            <command
                  commandId="org.eclipse.ui.file.save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="ch.jester.ui.players"
               label="Players">
            <command
                  commandId="ch.jester.ui.addplayer"
                  icon="icons/plus.png"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.jester.ui.handlers.NewPlayerHandler"
            id="ch.jester.ui.addplayer"
            name="New Player">
      </command>
      <command
            id="org.eclipse.ui.edit.delete"
            name="Delete Player">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ch.jester.ui.player.editor.PlayerEditor"
            default="false"
            id="ch.jester.ui.player.editor.PlayerEditor"
            name="PlayerEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="oneElementSelected">
         <with
               variable="selection">
            <count
                  value="+">
            </count>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.jester.ui.handlers.DeletePlayerHandler"
            commandId="org.eclipse.ui.edit.delete">
         <enabledWhen>
            <reference
                  definitionId="oneElementSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
</plugin>
