<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.jester.orm.Configuration">
      <Configuration
            DatabaseManagerClass="ch.jester.db.hsqldb.SimpleHSQLDatabaseManager"
            DatabaseName="jester"
            JDBCDriverClass="org.hsqldb.jdbcDriver"
            ORMConfiguration="ch.jester.hibernate.ConfigurationHelper"
            SQLDialectClass="org.hibernate.dialect.HSQLDialect"
            Subprotocol="hsqldb">
         <Property
               name="hibernate.connection.username"
               value="sa">
         </Property>
         <Property
               name="hibernate.connection.password">
         </Property>
      </Configuration>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=menu.File">
         <menu
               id="menu.extras"
               label="%Extras">
            <menu
                  icon="icons/hsqldb.gif"
                  id="menu.hsql"
                  label="%HSQL">
               <command
                     commandId="ch.jester.db.hsqldb.showtool"
                     label="%DBViewer"
                     style="push">
               </command>
               <separator
                     name="separator"
                     visible="true">
               </separator>
               <command
                     commandId="ch.jester.common.test.commands.insertjpa"
                     style="push">
               </command>
               <command
                     commandId="ch.jester.common.test.commands.inserthibernate"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.jester.db.hsqldb.tools.StartTool"
            id="ch.jester.db.hsqldb.showtool"
            name="%DBViewer">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.jester.orm.dbPrefPage"
            class="ch.jester.orm.prefs.DataBaseSubPreferencePage"
            id="ch.jester.db.hsqldb.hsqlPrefPage"
            name="%HSQLPreferences">
      </page>
   </extension>

</plugin>
