<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="ch.jester.ui.tournament.tournaments"
            name="%NewTournament">
      </category>
      <wizard
            canFinishEarly="true"
            category="ch.jester.ui.tournament.tournaments"
            class="ch.jester.ui.tournament.NewTournamentWizard"
            finalPerspective="ch.jester.rcpapplication.tournamentPerspective"
            hasPages="true"
            icon="icons/tournamentIcon_32x32.png"
            id="ch.jester.ui.tournament.newTournament"
            name="%CreateNewTournament"
            preferredPerspectives="ch.jester.ui.tournament.tournamentPerspective">
         <description>
            Creating a new tournament
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:ch.jester.ui.add.pulldown">
         <command
               commandId="ch.jester.ui.tournament.newTournament"
               icon="icons/kchess_22x22.png"
               label="%CreateNewTournament"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.jester.common.ui.handlers.WizardCallingHandler"
            id="ch.jester.ui.tournament.newTournament"
            name="%CreateNewTournament">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ch.jester.ui.tournament.cnf.TournamentNavigator"
            id="ch.jester.ui.tournament.cnf.view"
            name="%TournamentNavigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
     <navigatorContent
	         activeByDefault="true"
	         contentProvider="ch.jester.ui.tournament.cnf.TournamentContentProvider"
	         id="ch.jester.ui.tournament.cnf.TournamentContent"
	         labelProvider="ch.jester.ui.tournament.cnf.TournamentLabelProvider"
	         name="Tournament content"
	         priority="normal">
	      <triggerPoints>
	      	<or>
	      		<instanceof value="ch.jester.model.Root"/>
	      		<instanceof value="ch.jester.model.Tournament"/>
	      	</or>
	      </triggerPoints>
	      <possibleChildren>
	      	<or>
	      		<instanceof value="ch.jester.model.Tournament"/>
	      		<instanceof value="ch.jester.model.Category"/>
	      		<instanceof value="ch.jester.model.Player"/>
	      	</or>
		  </possibleChildren>
	   </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
         <viewer
		       viewerId="ch.jester.ui.tournament.cnf.view">
		 </viewer>
		 <viewerContentBinding
		       viewerId="ch.jester.ui.tournament.cnf.view">
		    <includes>
		       <contentExtension
		             isRoot="false"
		             pattern="ch.jester.ui.tournament.cnf.TournamentContent">
		       </contentExtension>
		    </includes>
		 </viewerContentBinding>
   </extension>

</plugin>
