<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="ch.jester.ui.tournament.tournaments"
            name="%NewTournament">
      </category>
      <wizard
            canFinishEarly="true"
            category="ch.jester.ui.tournament.tournaments"
            class="ch.jester.ui.tournament.NewTournamentWizard"
            finalPerspective="ch.jester.rcpapplication.tournamentPerspective"
            hasPages="true"
            icon="icons/tournament_add.png"
            id="ch.jester.ui.tournament.newTournament"
            name="%CreateNewTournament"
            preferredPerspectives="ch.jester.ui.tournament.tournamentPerspective">
         <description>
            %wizard.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:ch.jester.ui.add.pulldown">
         <command
               commandId="ch.jester.ui.tournament.newTournament"
               icon="icons/tournament_add.png"
               label="%CreateNewTournament"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:ch.jester.ui.tournament.cnf.popup?after=group.edit">
         <command
               commandId="ch.jester.ui.tournament.pairing"
               icon="icons/pairing_go.png"
               label="%RunPairing"
               style="push"
               tooltip="%TTrunPairing">
         </command>
         <command
               commandId="ch.jester.ui.tournament.editresult"
               icon="icons/result.png"
               label="%Result"
               style="push">
         </command>
         <command
               commandId="ch.jester.ui.tournament.ranking"
               icon="icons/ranking.png"
               label="%CreateRanking"
               style="push"
               tooltip="%TTCreateRanking">
         </command>
         <separator
               name="ch.jester.ui.tournament.separator1"
               visible="true">
         </separator>
         <command
               commandId="cnf.popup.addPlayer"
               icon="icons/player_add.png"
               label="%AddPlayer"
               mnemonic="A"
               style="push"
               tooltip="%TTaddPlayer">
         </command>
         <command
               commandId="cnf.popup.removePlayer"
               icon="icons/player_delete.png"
               label="%RemovePlayer"
               style="push">
         </command>
         <separator
               name="ch.jester.ui.tournament.separator2"
               visible="true">
         </separator>
         <command
               commandId="cnf.popup.deleteTournament"
               icon="icons/tournament_delete.png"
               id="cnf.popup.delete"
               label="%DeleteTournament"
               mnemonic="D"
               style="push">
         </command>
         <command
               commandId="ch.jester.ui.tournament.edittournament"
               icon="icons/settings.png"
               label="%EditTournament"
               style="push"
               tooltip="%TTEditTournament">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.jester.common.ui.handlers.WizardCallingHandler"
            id="ch.jester.ui.tournament.newTournament"
            name="%CreateNewTournament">
      </command>
      <command
            description="%WirePlayerToCategoryDescr"
            id="cnf.popup.addPlayer"
            name="%AddPlayer">
      </command>
      <command
            description="%RunPairingDescr"
            id="ch.jester.ui.tournament.pairing"
            name="%RunPairing">
      </command>
      <command
            description="%TTCreateRanking"
            id="ch.jester.ui.tournament.ranking"
            name="%CreateRanking">
      </command>
      <command
            description="%EditTournamentDescr"
            id="ch.jester.ui.tournament.edittournament"
            name="%EditTournament">
      </command>
      <command
            id="cnf.popup.removePlayer"
            name="%RemovePlayer">
      </command>
      <command
            id="cnf.popup.deleteTournament"
            name="%DeleteTournament">
      </command>
      <command
            id="ch.jester.ui.tournament.editresult"
            name="%Result">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ch.jester.ui.tournament.cnf.TournamentNavigator"
            icon="icons/navigator_16x16.png"
            id="ch.jester.ui.tournament.cnf.view"
            name="%TournamentNavigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
     <navigatorContent
           activeByDefault="true"
           contentProvider="ch.jester.ui.tournament.cnf.TournamentContentProvider"
           icon="icons/tournament.png"
           id="ch.jester.ui.tournament.cnf.TournamentContent"
           labelProvider="ch.jester.ui.tournament.cnf.TournamentLabelProvider"
           name="Tournament content"
           priority="normal">
	      <triggerPoints>
	      	<or>
	      		<instanceof value="ch.jester.model.Root"/>
	      		<instanceof value="ch.jester.model.Tournament"/>
	      	</or>
	      </triggerPoints>
	      <possibleChildren>
	      	<or>
	      		<instanceof value="ch.jester.model.Tournament"/>
	      		<instanceof value="ch.jester.model.Category"/>
	      		<instanceof value="ch.jester.model.Player"/>
         <instanceof
               value="ch.jester.model.Round">
         </instanceof>
         <instanceof
               value="ch.jester.model.Pairing">
         </instanceof>
         <instanceof
               value="ch.jester.ui.tournament.cnf.PlayerFolder">
         </instanceof>
	      	</or>
		  </possibleChildren>
       <dropAssistant
             class="ch.jester.ui.tournament.CommonDropPlayerAdapter"
             id="ch.jester.ui.tournament.dropAssistant1">
          <possibleDropTargets>
             <or>
                <instanceof
                      value="ch.jester.model.Category">
                </instanceof>
                <instanceof
                      value="ch.jester.ui.tournament.cnf.PlayerFolder">
                </instanceof>
             </or>
          </possibleDropTargets>
       </dropAssistant>
	   </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
         <viewer
               helpContext="ch.jester.ui.tournament.tournamentexplorer"
               viewerId="ch.jester.ui.tournament.cnf.view">
            <popupMenu
                  allowsPlatformContributions="true"
                  id="ch.jester.ui.tournament.cnf.popup">
               <insertionPoint
                     name="group.new"
                     separator="false">
               </insertionPoint>
               <insertionPoint
                     name="group.open"
                     separator="false">
               </insertionPoint>
               <insertionPoint
                     name="group.edit"
                     separator="true">
               </insertionPoint>
            </popupMenu>
		 </viewer>
		 <viewerContentBinding
		       viewerId="ch.jester.ui.tournament.cnf.view">
		    <includes>
		       <contentExtension
		             isRoot="false"
		             pattern="ch.jester.ui.tournament.cnf.TournamentContent">
		       </contentExtension>
         <contentExtension
               isRoot="false"
               pattern="ch.jester.ui.tournament.linkHelper3">
         </contentExtension>
		    </includes>
		 </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.jester.ui.tournament.handler.AddPlayerHandler"
            commandId="cnf.popup.addPlayer">
         <activeWhen>
            <or>
               <reference
                     definitionId="ch.jester.ui.tournament.categorySelected">
               </reference>
               <reference
                     definitionId="ch.jester.ui.tournament.playerFolderSelected">
               </reference>
            </or>
         </activeWhen>
         <enabledWhen>
            <or>
               <reference
                     definitionId="ch.jester.ui.tournament.categorySelected">
               </reference>
               <reference
                     definitionId="ch.jester.ui.tournament.playerFolderSelected">
               </reference></or>
         </enabledWhen>
      </handler>
      <handler
            class="ch.jester.ui.tournament.handler.RemovePlayerHandler"
            commandId="cnf.popup.removePlayer">
         <activeWhen>
            <reference
                  definitionId="ch.jester.ui.tournament.playerSelected">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="ch.jester.ui.tournament.playerSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="ch.jester.ui.tournament.handler.PairingHandler"
            commandId="ch.jester.ui.tournament.pairing">
         <activeWhen>
            <reference
                  definitionId="ch.jester.ui.tournament.tournamentOrCategorySelected">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="ch.jester.ui.tournament.tournamentOrCategorySelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="ch.jester.ui.tournament.handler.RankingHandler"
            commandId="ch.jester.ui.tournament.ranking">
         <activeWhen>
            <or>
               <reference
                     definitionId="ch.jester.ui.tournament.tournamentOrCategorySelected">
               </reference>
               <reference
                     definitionId="ch.jester.ui.tournament.roundSelected">
               </reference>
            </or>
         </activeWhen>
         <enabledWhen>
            <or>
               <reference
                     definitionId="ch.jester.ui.tournament.tournamentOrCategorySelected">
               </reference>
               <reference
                     definitionId="ch.jester.ui.tournament.roundSelected">
               </reference>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="ch.jester.ui.tournament.handler.EditTournamentHandler"
            commandId="ch.jester.ui.tournament.edittournament">
         <activeWhen>
            <reference
                  definitionId="ch.jester.ui.tournament.tournamentSelected">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="ch.jester.common.ui.handlers.DaoDeleteHandler"
            commandId="cnf.popup.deleteTournament">
         <activeWhen>
            <reference
                  definitionId="ch.jester.ui.tournament.tournamentSelected">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="ch.jester.ui.round.form.handler.EditResultHandler"
            commandId="ch.jester.ui.tournament.editresult">
         <enabledWhen>
            <reference
                  definitionId="ch.jester.ui.tournament.categoryOrRoundSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="ch.jester.ui.tournament.tournamentSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="ch.jester.model.Tournament">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="ch.jester.ui.tournament.cnf.oneElementSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="ch.jester.ui.tournament.categorySelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="ch.jester.model.Category">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="ch.jester.ui.tournament.tournamentOrCategorySelected">
         <with
               variable="selection">
            <or>
               <iterate
                     operator="or">
                  <instanceof
                        value="ch.jester.model.Tournament">
                  </instanceof>
               </iterate>
               <iterate
                     operator="or">
                  <instanceof
                        value="ch.jester.model.Category">
                  </instanceof>
               </iterate>
            </or>
         </with>
      </definition>
      <definition
            id="ch.jester.ui.tournament.playerFolderSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="ch.jester.ui.tournament.cnf.PlayerFolder">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="ch.jester.ui.tournament.playerSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="ch.jester.model.Player">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="ch.jester.ui.tournament.categoryOrRoundSelected">
         <with
               variable="selection">
            <or>
               <iterate
                     operator="or">
                  <instanceof
                        value="ch.jester.model.Round">
                  </instanceof>
               </iterate>
               <iterate
                     operator="or">
                  <instanceof
                        value="ch.jester.model.Category">
                  </instanceof>
               </iterate>
            </or>
         </with>
      </definition>
      <definition
            id="ch.jester.ui.tournament.roundSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="ch.jester.model.Round">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ch.jester.ui.tournament.editors.WirePlayerEditor"
            default="false"
            icon="icons/player_add.png"
            id="ch.jester.ui.tournament.wirePlayerEditor"
            name="%WirePlayerEditor">
      </editor>
      <editor
            class="ch.jester.ui.tournament.editors.TournamentEditor"
            default="false"
            icon="icons/settings.png"
            id="ch.jester.ui.tournament.tournamentEditor"
            matchingStrategy="ch.jester.common.ui.editor.EntityObjectInputMatcher"
            name="%EditTournament">
      </editor>
      <editor
            class="ch.jester.ui.round.editors.RoundEditor"
            default="false"
            icon="icons/result.png"
            id="ch.jester.ui.tournament.roundeditor"
            matchingStrategy="ch.jester.common.ui.editor.EntityObjectInputMatcher"
            name="%ResultEditor">
      </editor>
      <editor
            class="ch.jester.ui.round.editors.RankingViewEditor"
            default="false"
            icon="icons/ranking.png"
            id="ch.jester.ui.tournament.resulteditor"
            matchingStrategy="ch.jester.common.ui.editor.EntityObjectInputMatcher"
            name="%RankingEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="$nl$/resources/help/context.xml"
            plugin="ch.jester.ui.tournament">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="ch.jester.ui.tournament.LinkHelper3"
            id="ch.jester.ui.tournament.linkHelper3">
         <editorInputEnablement></editorInputEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ch.jester.ui.tournament.handler.IsPairedPropertyTester"
            id="ch.jester.ui.tournament.categorypaired"
            namespace="ch.jester.properties"
            properties="isCategoryPaired"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
