<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="jester">
<locations>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.equinox.executable.feature.group" version="3.4.2.R36x_v20110125-7N7K7bF8zk1BAKMh0iz0t94miBLY"/>
<unit id="org.eclipse.rcp.sdk.id" version="3.6.0.M20110210-1200"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
</locations>
</target>
