<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.jester.reportengine.impl.JasperReportsPreferencePage"
            id="ch.jester.reportengine.jasper.preferences"
            name="Print Templates ">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.jester.common.ui.handlers.PullDownHandler"
            id="ch.jester.ui.reporting.pulldown"
            name="ch.jester.ui.reporting.pulldown">
      </command>
      <command
            id="ch.jester.reportengine.generate"
            name="Generate Report">
         <commandParameter
               id="ch.jester.reportengine.generate.property.reportalias"
               name="ReportAlias"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:reporting.templates">
         <dynamic
               class="ch.jester.reportengine.impl.ui.ReportNameContributionItem"
               id="ch.jester.ui.dynamic6">
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:ch.jester.ui.view.players?after=ch.jester.ui.separator3">
         <menu
               icon="icons/report.png"
               id="reporting.templates"
               label="Reports">
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.jester.reportengine.impl.ui.handler.PrintHandler"
            commandId="ch.jester.reportengine.generate">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ch.jester.reportengine.impl.internal.Initializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/image"
            class="net.sf.jasperreports.j2ee.servlets.ImageServlet">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="ch.jester.reportengine.impl.ui.export.ReportExportWizard"
            icon="icons/report.png"
            id="ch.jester.ui.export.jester.reports"
            name="Reports">
      </wizard>
   </extension>

</plugin>
