<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.jester.orm.Configuration">
      <Configuration
            DatabaseManagerClass="ch.jester.h2.SimpleH2DatabaseManager"
            DatabaseName="jester"
            JDBCDriverClass="org.h2.Driver"
            ORMConfiguration="ch.jester.hibernate.ConfigurationHelper"
            SQLDialectClass="org.hibernate.dialect.H2Dialect"
            Subprotocol="h2">
         <Property
               name="connection.password">
         </Property>
         <Property
               name="connection.username"
               value="sa">
         </Property>
      </Configuration>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.jester.orm.pref"
            class="ch.jester.common.ui.pref.IDPreferencePage"
            id="ch.jester.db.h2.pref"
            name="H2">
      </page>
   </extension>

</plugin>
