<?xml version="1.0" encoding="UTF-8"?>
<contexts>
   <context id="playerview">
      <description>The Playerview lists all registred Players</description>
      <command label="add new Player" serialization="ch.jester.ui.addplayer"/>
      <topic href="test.html" label="Help_Topic"/>
   </context>
</contexts>
