<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.jester.system.api.EloCalculator">
      <EloCalculator
            class="ch.jester.system.fidecalculator.FideCalculator"
            shortType="FIDE-Calculator"
            typeDescription="FIDE Elo-/Performance-Calculator">
      </EloCalculator>
   </extension>

</plugin>
