<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="ch.jester.ui.player.PlayersView"
            id="ch.jester.ui.view.players"
            name="Players">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ch.jester.perspective.admin">
         <view
               closeable="false"
               id="ch.jester.ui.view.players"
               minimized="false"
               moveable="false"
               ratio="0.3f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:ch.jester.ui.view.players">
         <command
               commandId="ch.jester.ui.addplayer"
               style="push">
         </command>
         <command
               commandId="ch.jester.ui.deleteplayer"
               style="push">
         </command>
         <separator
               name="ch.jester.ui.separator1"
               visible="true">
         </separator>
         <command
               commandId="ch.jester.ui.loadplayers"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.jester.ui.handlers.LoadPlayers"
            id="ch.jester.ui.loadplayers"
            name="Refresh Players">
      </command>
      <command
            defaultHandler="ch.jester.ui.handlers.NewPlayer"
            id="ch.jester.ui.addplayer"
            name="New Player">
      </command>
      <command
            id="ch.jester.ui.deleteplayer"
            name="Delete Player">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ch.jester.ui.player.PlayerEditor"
            default="false"
            id="ch.jester.ui.player.PlayerEditor"
            name="Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="oneElementSelected">
         <with
               variable="selection">
            <count
                  value="+">
            </count>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.jester.ui.handlers.DeletePlayer"
            commandId="ch.jester.ui.deleteplayer">
         <enabledWhen>
            <reference
                  definitionId="oneElementSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
</plugin>
