<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="Configuration" name="HibernateConfiguration" schema="schema/Configuration.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ch.jester.orm.internal.DBPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.jester.orm.internal.DatabasePreferencePage"
            id="ch.jester.orm.dbPrefPage"
            name="%DBPrefPage.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="ch.jester.orm.internal.ORMStarter">
      </startup>
   </extension>

</plugin>
