<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="Configuration" name="HibernateConfiguration" schema="schema/Configuration.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.jester.common.ui.pref.IDPreferencePage"
            id="ch.jester.orm.pref"
            name="Datenbank">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="ch.jester.orm.internal.ORMStarter">
      </startup>
   </extension>

</plugin>
