<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="ch.jester.player"
            class="ch.jester.ui.exporter.PlayerXMLExporter"
            id="ch.jester.ui.export.players"
            name="Player">
      </wizard>
   </extension>

</plugin>
