<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.jester.system.api.RankingSystem">
      <RankingSystem
            class="ch.jester.rankingsystem.buchholz.BuchholzRankingSystem"
            shortType="Buchholz"
            typeDescription="Buchholz Ranking-System">
      </RankingSystem>
   </extension>

</plugin>
