<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.jester.commonservices.api.ImportHandler">
      <ImportHandler
            class="ch.jester.importmanagerservice.impl.internal.finalimpl.SSBExcelImporter2"
            id="ch.jester.ssb.xls.importer"
            shortType="*.xls"
            typeDescription="SSB Excel Importer">
      </ImportHandler>
      <ImportHandler
            class="ch.jester.importmanagerservice.impl.internal.finalimpl.FIDETextImporter"
            id="ch.jester.fide.txt.importer"
            shortType="*.txt"
            typeDescription="FIDE Text Importer">
      </ImportHandler>
      <WebImportAdapter
            ImportHandlerId="ch.jester.ssb.xls.importer"
            class="ch.jester.importmanagerservice.impl.internal.finalimpl.webadapters.SSBWebAdapter"
            dataProviderDescription="SSB Webpage"
            dataProviderId="ch.jester.dataprovider.ssb">
      </WebImportAdapter>
      <WebImportAdapter
            ImportHandlerId="ch.jester.fide.txt.importer"
            class="ch.jester.importmanagerservice.impl.internal.finalimpl.webadapters.FIDEWebAdapter"
            dataProviderDescription="FIDE Webpage"
            dataProviderId="ch.jester.dataprovider.fide">
      </WebImportAdapter>
      <ImportHandler
            class="ch.jester.importmanagerservice.impl.internal.finalimpl.JesterDataImporter"
            id="ch.jester.importmanagerservice.impl.jesterimporter"
            shortType="*.xml"
            typeDescription="Jester Data Importer">
      </ImportHandler>
   </extension>

</plugin>
