<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.jester.commonservices.api.ImportHandler">
      <ImportHandler
            class="ch.jester.importmanagerservice.impl.internal.SSBTextImporter"
            shortType="*.txt"
            typeDescription="SSB Text Importer">
      </ImportHandler>
   </extension>

</plugin>
