<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.jester.commonservices.api.ImportHandler">
      <ImportHandler
            class="ch.jester.common.tests.testservice.DummyImportHandler"
            id="dummy"
            shortType="*.xml"
            typeDescription="XML Importer">
      </ImportHandler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.jester.common.tests.commands.InsertJPA"
            id="ch.jester.common.test.commands.insertjpa"
            name="Import JPA">
      </command>
      <command
            defaultHandler="ch.jester.common.tests.commands.InsertHibernate"
            id="ch.jester.common.test.commands.inserthibernate"
            name="Import HibernateNative">
      </command>
   </extension>

</plugin>
