<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="$nl$/resources/help/toc.xml"
            primary="true">
      </toc>
      <toc
            file="$nl$/resources/help/tocfaq.xml"
            primary="false">
      </toc>
      <toc
            file="$nl$/resources/help/importerexporter.xml"
            primary="false">
      </toc>
      <toc
            file="$nl$/resources/help/tocplayers.xml"
            primary="false">
      </toc>
      <toc
            file="$nl$/resources/help/toctournament.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=menu.extras">
         <menu
               id="help"
               label="%Help">
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  disabledIcon="icons/linkto_help.gif"
                  icon="icons/help.gif"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.helpSearch"
                  icon="icons/help_search.gif"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.dynamicHelp"
                  style="push">
            </command>
            <separator
                  name="ch.jester.rcpapplication.help.separator1"
                  visible="true">
            </separator>
            <separator
                  name="ch.jester.rcpapplication.help.separator1">
            </separator>
            <command
                  commandId="org.eclipselabs.p2.rcpupdate.install"
                  style="push">
            </command>
            <command
                  commandId="org.eclipselabs.p2.rcpupdate.update"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.help.dynamicHelp"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F1">
      </key>
   </extension>

</plugin>
