<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ch.jester.socialmedia.updatestatus"
            name="updatestatus">
         <commandParameter
               id="ch.jester.socialmedia.statusupdater.serviceid"
               name="para"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.jester.socialmedia.handler.SocialMediaStatusUpdateHandler"
            commandId="ch.jester.socialmedia.updatestatus">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="ch.jester.socialmedia.toolbar">
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.jester.common.ui.pref.EmptyPreferencePage"
            id="ch.jester.socialmedia"
            name="Social Media">
      </page>
   </extension>

</plugin>
