<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ch.jester.socialmedia.updatestatus"
            name="updatestatus">
         <commandParameter
               id="ch.jester.socialmedia.statusupdater.serviceid"
               name="para"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.jester.socialmedia.handler.SocialMediaStatusUpdateHandler"
            commandId="ch.jester.socialmedia.updatestatus">
      </handler>
   </extension>

</plugin>
