<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="ch.jester.player"
            name="Import Players">
      </category>
      <wizard
            category="ch.jester.ui.importer.players"
            class="ch.jester.ui.importer.Wiz"
            icon="icons/player.png"
            id="ch.jester.ui.importer"
            name="Player">
      </wizard>
      <wizard
            class="ch.jester.ui.importer.Wiz"
            icon="icons/icon16x16.png"
            id="ch.jester.ui.jesterdataimporter"
            name="Jester Data">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.jester.common.ui.pref.EmptyPreferencePage"
            id="ch.jester.ui.importer.pref"
            name="Importer">
      </page>
      <page
            category="ch.jester.ui.importer.pref"
            class="ch.jester.common.ui.pref.IDPreferencePage"
            id="ch.jester.ssb.xls.importer.pref"
            name="SSB">
      </page>
      <page
            category="ch.jester.ui.importer.pref"
            class="ch.jester.common.ui.pref.IDPreferencePage"
            id="ch.jester.fide.txt.importer.pref"
            name="FIDE">
      </page>
   </extension>

</plugin>
