<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.jester.system.api.PairingAlgorithm">
      <PairingAlgorithm
            class="ch.jester.system.swiss.dutch.SwissDutchPairingAlgorithm"
            pluginId="ch.jester.system.swiss.dutch"
            shortType="Swiss-Dutch"
            typeDescription="%PairingAlgorithm.typeDescription">
      </PairingAlgorithm>
   </extension>

</plugin>
