<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="ch.jester.player"
            class="ch.jester.ui.exporter.PlayerXMLExporter"
            icon="icons/icon16x16.png"
            id="ch.jester.ui.export.jester"
            name="Jester">
      </wizard>
   </extension>

</plugin>
