<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ch.jester.rcpapplication.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Administration"
            class="ch.jester.rcpapplication.AdminPerspective"
            id="ch.jester.perspective.admin">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ch.jester.rcpapplication.View"
            id="ch.jester.rcpapplication.view"
            name="%DBConnectionView">
      </view>
      <view
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="org.eclipse.ui.views.ProgressView"
            name="%ProgressView"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ch.jester.perspective.admin">
         <view
               closeable="true"
               id="org.eclipse.ui.views.ProgressView"
               minimized="true"
               moveable="false"
               ratio="0.2f"
               relationship="fast"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="menu.file"
               label="%File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="%Exit">
            </command>
         </menu>
         <menu
               id="menu.extras"
               label="%Extras">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ch.jester.rcpapplication.application"
            name="jester">
         <property
               name="appName"
               value="jester">
         </property>
         <property
               name="windowImages"
               value="icons/icon16x16.png,icons/icon32x32.png,icons/icon48x48.png,icons/icon64x64.png,icons/icon128x128.png">
         </property>
         <property
               name="startupProgressRect"
               value="10,295,480,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="12,272,475,20">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ch.jester.rcpapplication.PreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.jester.rcpapplication.GeneralPreferencePage"
            id="ch.jester.rcpapplication.generalPrefPage"
            name="%GeneralPreferences">
      </page>
   </extension>

</plugin>
