<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ch.jester.rcpapplication.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.jester.rcpapplication.perspectives.AdminPerspective"
            icon="icons/database_table.png"
            id="ch.jester.perspective.admin"
            name="%Administration">
      </perspective>
      <perspective
            class="ch.jester.rcpapplication.perspectives.TournamentPerspective"
            icon="icons/tournament.png"
            id="ch.jester.rcpapplication.tournamentPerspective"
            name="%TournamentPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ch.jester.rcpapplication.View"
            icon="icons/database_connect.png"
            id="ch.jester.rcpapplication.view"
            name="%DBConnectionView">
      </view>
      <view
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="org.eclipse.ui.views.ProgressView"
            name="%ProgressView"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ch.jester.perspective.admin">
         <view
               closeable="true"
               id="org.eclipse.ui.views.ProgressView"
               minimized="true"
               moveable="false"
               ratio="0.2f"
               relationship="fast"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="ch.jester.ui.tournament.tournamentPerspective">
         <view
               closeable="true"
               id="org.eclipse.ui.views.ProgressView"
               minimized="true"
               moveable="false"
               ratio="0.2f"
               relationship="fast"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="menu.file"
               label="%File">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.import"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export"
                  style="push">
            </command>
            <separator
                  name="ch.jester.rcpapplication.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="%Exit">
            </command>
         </menu>
         <menu
               id="menu.extras"
               label="%Extras">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ch.jester.rcpapplication.application"
            name="jester">
         <property
               name="appName"
               value="jester">
         </property>
         <property
               name="windowImages"
               value="icons/icon16x16.png,icons/icon32x32.png,icons/icon48x48.png,icons/icon64x64.png,icons/icon128x128.png">
         </property>
         <property
               name="startupProgressRect"
               value="10,295,480,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="12,272,475,20">
         </property>
         <property
               name="aboutImage"
               value="icons/icon128x128.png">
         </property>
         <property
               name="aboutText"
               value="jester - Chess Tournament Manager&#x0A;Code:        http://code.google.com/p/jester/&#x0A;P2Repo:    http://jester.googlecode.com/svn/jesterrepo &#x0A;&#x0A;Developed by Matthias Liechti and Peter Simon&#x0A;MAS SE HSR 2011">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.jester.ui.general"
            class="ch.jester.common.ui.pref.IDPreferencePage"
            id="ch.jester.update.pref"
            name="Update">
      </page>
   </extension>

</plugin>
