<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.jester.commonservices.api.ImportHandler">
      <ImportHandler
            class="ch.jester.importmanagerservice.impl.internal.finalimpl.SSBExcelImporter2"
            shortType="*.xls"
            typeDescription="SSB Excel Importer">
      </ImportHandler>
      <ImportHandler
            class="ch.jester.importmanagerservice.impl.internal.finalimpl.FIDETextImporter"
            shortType="*.txt"
            typeDescription="FIDE Text Importer">
      </ImportHandler>
      <ImportHandler
            class="ch.jester.importmanagerservice.impl.internal.finalimpl.webadapters.FIDEWebAdapter"
            shortType="*.web"
            typeDescription="FIDE">
      </ImportHandler>
      <ImportHandler
            class="ch.jester.importmanagerservice.impl.internal.finalimpl.webadapters.SSBWebAdapter"
            shortType="*.web"
            typeDescription="SSB">
      </ImportHandler>
   </extension>

</plugin>
